@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --blue: #0126de;
  --pink: #f5ede7;
  --dark_pink: #ffc3a0;
  --text-color: black;
  --font-family-r: "Roboto", sans-serif;
  --font-Famity-s: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

/* body {
  background: var(--pink);
} */

h2 {
  color: var(--text-color);
  font-family: Roboto;
}

a {
  text-decoration: none;
  background: transparent;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--text-color);
}

img {
  display: block;
  /* width: 100%; */
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  
}

.button_b {
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family-r);
  border: 1px solid #000000;
  border-radius: 35px;
  color: #000000;
}

.button_l {
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family-r);
  border: 1px solid #ffc3a0;
  border-radius: 35px;
  color: #ffc3a0;
}

.btn {
  display: flex;
  width: 256px;
  height: 58px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  border-radius: 35px;
  border: 1px solid #000000;
}
.btn:hover{
  transition: all 0.3s ease;
  background: #c6c837da;
  color: #D90DCB;
  border: 1px solid #D90DCB;
  /* background: hsla(64, 57%, 50%, 0.863); */

}